{# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
; DNS UI config file

; {{ ansible_managed }}

[web]
enabled = {{ '1' if dnsui__web else '0' }}
; Do not include a trailing / in the baseurl
baseurl = "{{ dnsui__web_baseurl }}"
logo = /logo-header-opera.png
; header and footer may contain HTML. Literal & " < and > should be escaped as &amp; &quot; &lt; $gt;
header = 'DNS management'
footer = 'Developed by <a href="https://www.opera.com/">Opera Software</a>.'
; Enable this option if you want system and zone admins to be forced to request changes just like the operators.
force_change_review = {{ '1' if dnsui__web_force_change_review else '0' }}
; Enable this option if you want all users to be forced to enter a comment for every change made.
force_change_comment = {{ '1' if dnsui__web_force_change_comment else '0' }}

[email]
enabled = {{ '1' if dnsui__email else '0' }}
; The mail address that outgoing mails will be sent from
from_address = "{{ dnsui__email_from_address }}"
from_name = "{{ dnsui__email_from_name }}"
; Where to mail problem notifications to
report_address = "{{ dnsui__email_report_address }}"
report_name = "{{ dnsui__email_report_name }}"
{% if dnsui__email_reroute %}
; You can use the reroute directive to redirect all outgoing mail to a single
; mail address - typically for temporary testing purposes
reroute = "{{ dnsui__email_reroute }}"
{% endif %}

[database]
; Connection details to the Postgres database
dsn = "pgsql:host={{ dnsui__postgresql_server }} port={{ dnsui__postgresql_port }} dbname={{ dnsui__postgresql_database }}"
username = "{{ dnsui__postgresql_role }}"
password = "{{ dnsui__postgresql_password }}"

[authentication]
; compare the user ID's case? (on by default)
user_case_sensitive = {{ '1' if dnsui__authentication_user_case_sensitive else '0' }}

[php_auth]
enabled = {{ '1' if dnsui__php_auth else '0' }}
admin_group = "{{ dnsui__php_auth_admin_group }}"

[ldap]
enabled = {{ '1' if dnsui__ldap else '0' }}
; Address to connect to LDAP server
host = "{{ dnsui__ldap_uri }}"
; Use StartTLS for connection security (recommended if using ldap:// instead of ldaps:// above)
starttls = {{ '1' if dnsui__ldap_starttls else '0' }}
; LDAP subtree containing USER entries
dn_user = "{{ dnsui__ldap_people_dn }}"
; LDAP subtree containing GROUP entries
dn_group = "{{ dnsui__ldap_groups_dn }}"
; Set to 1 if the LDAP library should process referrals. In most cases this
; is not needed, and for AD servers it can cause errors when querying the
; whole tree.
follow_referrals = {{ '1' if dnsui__ldap_follow_referrals else '0' }}

; Leave bind_dn empty if binding is not required
bind_dn = "{{ dnsui__ldap_bind_dn }}"
bind_password = "{{ dnsui__ldap_bind_password }}"

; User attributes
user_id = "{{ dnsui__ldap_user_id }}"
user_name = "{{ dnsui__ldap_user_name }}"
user_email = "{{ dnsui__ldap_user_email }}"

; If inactive users exist in your LDAP directory, filter with the following settings:
; Field to filter on:
;user_active = organizationalstatus
; Use *one* of user_active_true or user_active_false
; user_active_true means user is active if the user_active field equals its value
;user_active_true = 'current'
; user_active_false means user is active if the user_active field does not equal its value
;user_active_false = 'former'

; Group membership attributes. Examples below are for typical setups:
;
; POSIX groups
;  group_member = memberUid
;  group_member_value = uid
;
; Group-of-names groups
;  group_member = member
;  group_member_value = dn
;
; Attribute of group where members are stored
group_member = "{{ dnsui__ldap_group_member }}"
; User attribute to compare with
group_member_value = "{{ dnsui__ldap_group_member_value }}"

; Members of admin_group are given full access to DNS UI web interface
admin_group_cn = "{{ dnsui__ldap_admin_group_cn }}"

[powerdns]
api_url = "{{ dnsui__powerdns_api_url }}"
api_key = "{{ dnsui__powerdns_api_key }}"

; Earlier version of DNS UI use INCEPTION-INCREMENT as the default for soa_edit_api but this has
; been dropped in PowerDNS 4.2; DEFAULT should be used instead, but one can set a different value
; for backwards compatibility with earlier PowerDNS versions.
soa_edit_api = "{{ dnsui__powerdns_soa_edit_api }}"

[dns]
; Enable DNSSEC view UI (requires PowerDNS 4.1)
dnssec = {{ '1' if dnsui__dns_dnssec else '0' }}
; Allow enabling/disabling DNSSEC through the UI
dnssec_edit = {{ '1' if dnsui__dns_dnssec_edit else '0' }}

; If enabled (the default), matching PTR records will be automatically created
; when new A or AAAA records are added.
autocreate_reverse_records = {{ '1' if dnsui__dns_autocreate_reverse_records else '0' }}

; Space-separated lists
local_zone_suffixes = "{{ dnsui__dns_local_zone_suffixes
                          if dnsui__dns_local_zone_suffixes is string
                          else dnsui__dns_local_zone_suffixes | join(" ") }}"
local_ipv4_ranges = "{{ dnsui__dns_local_ipv4_ranges
                        if dnsui__dns_local_ipv4_ranges is string
                        else dnsui__dns_local_ipv4_ranges | join(" ") }}"
local_ipv6_ranges = "{{ dnsui__dns_local_ipv6_ranges
                        if dnsui__dns_local_ipv6_ranges is string
                        else dnsui__dns_local_ipv6_ranges | join(" ") }}"

{% if dnsui__dns_classification_whitelist %}
; if non-empty, only allow entering these (comma seperated) values in the Classification column
; Note that this is purely a front-end restriction, designed to avoid accidental errors.
classification_whitelist = "{{ dnsui__dns_classification_whitelist|join(',') }}"

{% endif %}
[git_tracked_export]
; If enabled, will export zones as bind9 zone format to the specified path and
; will git add / git commit on behalf of the active user.
; path must be a git repository writable by the webserver user.
enabled = {{ '1' if dnsui__git_tracked_export else '0' }}
path = "{{ dnsui__git_tracked_export_path }}"
